<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    


 <form action="/form" method="post">


    <input type="text"
    placeholder="enter ur username"
    name="username">
 </input>


    <input type="email"
    placeholder="enter ur email"
    name="email">
</input>


    <input type="password"
    placeholder="enter ur password"
    name="password">
</input>

    <button>Submit</button>
 </form>
 <script src="index.js"></script>
</body>

</html>