<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/register" method="post">
    <input type="text" name="email" placeholder="Enter ur email"></input>
    <input type="text" name="username" placeholder="Enter ur name"></input>
    <input type="password" name="password" placeholder="Enter ur password"></input>
   
    <button>Register</button>
   </form> 
   
</body>
</html>